body {
            font-family: 'Segoe UI', sans-serif;
            background: #f0f8ff;
            color: #333;
           margin: 0px;
            padding: 0px;
        }
        header {
            background: #0055aa;
            color: white;
            padding: 20px;
            text-align: center;
            border-bottom: inset  blue;
            
        }
        h1 {
            margin: 0;
            font-size: 2em;
        }
        nav {
            background: #4682B4;
            padding: 10px;
            text-align: center;
        }
        nav a{
            color: white;
            text-decoration: none;
            margin: 0 10px;
            font-weight: bold;
        }
.gallery {
    display: flex;
    width: 1500px;
    flex-wrap: wrap;
    justify-content:center;
}
    img {
    width:369px;
    height:360px;
    }
    .loginov{
    text-align:center;
    }
    p{
    font-family:sans-serif;
    }
    li{
       
    }
