body {
            font-family: 'Segoe UI', sans-serif;
            background: #f0f8ff;
            color: #333;
            margin: 0px;
            padding: 0px;
        }
        header {
            background: linear-gradient(to right, #0077cc, #004488);
          border-top:inset MediumBlue;
          color:white;
            color: white;
            padding: 20px;
            text-align: center;
        }
        h1 {
            margin: 0px;
            ;
        }
        nav {
            background: #0055aa;
            padding: 10px;
            text-align: center;
            border:inset MediumBlue;
            box-shadow: 2px 2px 4px rgba(135, 206, 250);
        }
        nav a{
            color: Snow;
            text-decoration: none;
            margin: 0 10px;
            font-weight: bold;
          }     
                            
       section {
            background: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            margin-bottom: 20px ;
            padding-top: 20px;
            padding-left: 20px;
        }
        img {
            width:550px;
            height:250px;
            border-radius:15px;
        }

        ul {
            padding-left: 20px;
        }

.vol{
 width:20px;
  height:100px;
}
.loginovg{
    text-align:center;
    width:250px;
    height:300px;
    }
    p{
    font-family:sans-serif;
    }
.gallery {
    display: flex;
    width: 750px;
}
.ll{
 text-align: center;
}
.loginov{
 text-align:center;
}
.senter{
 text-align:center;
}
.kosmopark{
 text-align:center;
}
.ksmoprk{
 text-align:center;
 height:500px;
 width:810px;
}
.kartinki{
display: flex;
width:810px;
}
.planet{
  display:flex;
 width:450px;
  height:300px;
}
.ges{
 width:530px;
 height:350px;
}
.tramvaq{
 width:530px;
 height:350px; 
}
.vgc{
 width:530px;
 height:600px; 
}
.transport{
 text-align:center;
}
.mesta{
 text-align:center;
}
.gidro{
 text-align:center;
}
}
.vgsp{
 text-align:center;
}
.stroitelstvo{
 display:flex;
  width:250px;
}
